/* --------------------- Clases ---------------*/
.precio {
    font-size: 18px;
    margin: 5px 0 0 0;
}
.descuento {
    font-size: 16px;
    color: green;
    margin-top: 2px;
}

.descripcion {
    font-size: 16px;
    padding: 0 0 15px 0;
}

/*---------- Banner -----------*/
.banner-central {
    width: 100%;
    margin: 0;
}
.banner-central img {
    width: 100%;
}
.nav-promo i {
    padding-right: 5px;
}
.lista-menu i {
    padding-left: 5px;
}
/*     -------   NAvegacion   -----  */
.nav-logo {
    display: flex;
    align-items: center;
}
.container-logo {
    padding: 10px;
    width: 50%;
    max-width: 280px;
}
.container-searchbar {
    width: 50%;
}
.container-searchbar input {
    border-radius: 5px;
    border: 0.5px solid grey;
}

.form-searchbar input{
    height: 40px;
    padding: 10px;
    margin: 10px;
    width: 90%;
}



.menu {
    text-align: center;
    font-size: 28px;
    margin: 10px;
}
.menu i{
    background-color: #03264C;
    padding: 15px;
    border-radius: 10px;
    color: white;
    
}
.contenedor-header {
    padding: 15px 20px 0 20px;

}


.contenedor-info {
    border-top: 1px solid #ebebeb;
    padding-top: 10px;

}
.contenedor-info p {
    text-align: left;
    padding-left: 20px;
}

.container-principal {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0 0 20px 0;
}

.nav-principal{
    display:none;

}
.nav-principal a{
    color: black;
    
}


.imagen-articulo{
    padding: 5%;
}
.titulo-principal {
    margin-top: 0;
    padding-top: 15px;
}

header h3 {
    margin: 15px;
}


/*----------------- Productos --------------------------*/
.camion{
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px 5px 6px 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    color: green;
    right: -80px;
    top: -25px;
}
.product-wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 



/* --------------- CONTENIDO X ID -----------------------*/





/*------------- Registro -----------------*/


.main-login {
    height: 60%;
}
.form-registro {
    max-width: 800px;
}
.container-login {
    display: flex;
    justify-content: center;
}
.container-login-2 {
    max-width: 800px;
    width: 100%;
}
.form-input {
    justify-content: center;
}


.form-input label{
    display: block;
    font-size: 18px;
    margin: 10px 0;
}
.form-input select {
    margin: 5px;
    height: 30px;
}
.form-input button {
    display: block;
    font-size: 16px;
    height: 40px;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.form-input input {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.form-input input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.form-input select {
    margin: 0 auto;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
    padding: 5px;
}

.form-categorias {
    display: block;
}
.form-categorias-individual {
    display: flex;
}
.form-categorias-individual label {
    margin-left: 15px;
}
.form-botones{
    display: block;
    justify-content: center;

}
.form-botones button{
    margin: 30px 0;
    border: none;
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.form-botones [type="reset"] {
    background-color: #ee103f;

}







/*--------------- Footer ------------- */
.footer-principal {
    margin: 10px;
}
.footer-container {
    display: block;

}
.footer-container section {
    margin: 15px 0;
}

/*----------------- MEDIA QUERIES ------------------------*/

