.nav-principal{
    display:flex;
    justify-content: space-between;
    margin: 15px 20px;
}
.lista-menu {
    display: flex;
}
.burger-menu{
    display: none;
}
.lista-menu a{
margin: 15px;
}
.contenedor-header {
    margin: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-principal {
    width: 50%;
}
.form-searchbar{
    width: 50%;
}
.contenedor-header h3 {
    display: flex;
    align-items: center;
}

.product-wrapper {
    padding: 10px;
    width: 33%;
}


.footer-container {
    display: flex;
}

/*----------------------- Hovers ----------------------*/

.descripcion {
    opacity: 0;
}

article:hover {
    box-shadow: 0px 0px 15px rgb(100,100,100);
    transition: all, 0.3s;
}

article:hover .descripcion {
    transition: opacity ease-in 300ms;
    opacity: 1;
}

article:hover .camion {
    transform: rotate(360deg);
    transition: all ease 0.3s; 
}
.login:hover a{
    color: #0022AA;
    
}

.icono-grande:hover {
    transform: rotate(360deg);
    transition: all ease 0.5s;
    color: cadetblue;
}




